/* Définition de l'arrière-plan de la page */
* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #040404;
    overflow: hidden;
}

.background-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: none;
}

/* Image floutée en arrière-plan avec fond de secours */
.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('static/img/photo.jpg') no-repeat center center/cover;
    background-color: #040404;
    filter: blur(8px);
    z-index: -1;
    opacity: 0.8;
}


/* Définition de l'arrière-plan de la page */
* {
    margin: 0;
    padding: 0;
    border-radius: 8px; 
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: #060000; 
    overflow: hidden;
}


.background-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    position: relative;
    z-index: 1; 
    background-color: rgba(255, 255, 255, 0.0);
    padding: 3rem 2.5rem; 
    border-radius: 12px;
    text-align: center;
    max-width: 450px;
    width: 90%; 
    margin: auto;
}

/* Style du titre */
.container h1 {
    font-size: 2rem; 
    color: #15d0f5; 
    border-radius: 12px;    
    margin-bottom: 2rem; 
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.2px;
}

/* Style des labels */
label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: rgba(248, 245, 245, 0.85); 
    text-align: left;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Style des champs de texte et de sélection */
input[type="text"], select {
    width: 100%;    
    padding: 0.9rem;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(22, 208, 245, 0.9);
    border-radius: 8px;
    background-color: rgba(64, 32, 32, 0);
    color: #f6f0f0;
    font-size: 1rem;
    text-align: center;
    transition: border-color 0.3s ease;
}
input::placeholder {
    color: white;
}

/* Changement de couleur de bordure au focus */
input[type="text"]:focus, select:focus {
    border-color: #15d0f5;
    outline: none;
}

/* Style des boutons */
button[type="submit"] {
    background-color: rgba(21, 208, 245, 0.9);
    color: rgb(247, 240, 240);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Effet au survol du bouton */
button[type="submit"]:hover {
    background-color: #15c7d8;
    transform: scale(1.05);
}


.accueil {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/photo.jpg);
    background-size: cover;
    background-position: center;
}