{{define  "game"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/game.css">
    <title>Document</title>
</head> 
<body>

    <h1>Bienvenue {{.User2.Pseudo}} vous avez choisi la difficulté : {{.User2.Difficulty}}</h1>
    <h2>Le mot à deviner est : {{.Mot}}</h2>
    <h3>Mot caché : {{.MotCacher}}</h3>
    <h3>Nombre de vies : {{.Essaie}}</h3>
    <h3>Nombre de lettres à trouver : {{.Reussitte}}</h3>
    <h3>Lettres déjà proposées : {{.LettreDejaPropose}}</h3>

    <!-- Message temporaire -->
    <div id="message">Ceci est un message temporaire</div>

    <!-- Formulaire -->
    <form id="gameForm" action="/game/treatment" method="POST">

        <label for="pseudo">Choisissez une lettre ou le mot : </label>
        <input type="text" id="pseudo" name="lettre" required>
        <button type="submit" >valider</button> <!-- Bouton de soumission masqué -->
    </form>

    

</body>
</html>
{{end}}